{% extends 'components/base.html' %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
    <div class="container mx-auto py-8 px-16">
        <h1 class="text-3xl font-bold mb-6">Sobre Nosotros</h1>

        <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
            <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Misión</h2>
            <p class="text-lg text-gray-700">Nos comprometemos a ofrecer productos de alta calidad para el sector agrícola. Nuestro objetivo es apoyar a los agricultores y productores para que puedan optimizar sus cultivos y mejorar la sostenibilidad de sus operaciones.</p>
        </div>

        <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
            <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestra Visión</h2>
            <p class="text-lg text-gray-700">Ser líderes en la distribución de productos agrícolas de calidad, ofreciendo soluciones innovadoras y sostenibles para el sector agrícola en Ecuador.</p>
        </div>

        <div class="bg-white shadow-lg rounded-lg p-8 mb-6">
            <h2 class="text-2xl font-semibold text-blue-600 mb-4">Nuestros Valores</h2>
            <ul class="list-disc pl-6 text-lg text-gray-700">
                <li>Compromiso con la calidad</li>
                <li>Sostenibilidad y respeto por el medio ambiente</li>
                <li>Innovación constante en nuestros productos</li>
                <li>Atención al cliente de primer nivel</li>
            </ul>
        </div>
    </div>
{% endblock %}
